version: "3.3"

services:

  rhvoiceaio:
    build: 
      context: .
      dockerfile: ${DOCKERFILE_RHVOICEAIO}
      args:
        TIMEZONE: ${TIMEZONE}
    container_name: ${RHVOICEAIO}
    image: ${RHVOICEAIO}:${RELEASE_IMAGE}
    ports:
      - ${RHVOICEAIO_PORT}:8040
    restart: unless-stopped
    logging:
      driver: journald
    networks:
      - rhvoiceaio-net

networks:
  rhvoiceaio-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: ${RHVOICEAIO_NET}
